<app-admin-navbar></app-admin-navbar>
<div class="admin_background"> 
    

     <!-- Tabela de Últimos Pedidos (IMPLEMENTAR)-->
     <div class="orders-section">
        <h3 class="orders-title">Últimos Pedidos</h3>
        <div class="ag-theme-quartz" style="height: 500px; width: 100%;">
          <ag-grid-angular
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            [localeText]="localeText"
            [defaultColDef]="{ sortable: true, filter: true, resizable: true }"
            [pagination]="true"
            [paginationPageSize]="10">
          </ag-grid-angular>
        </div>
        
      </div>

</div>