<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--=============== IMPORTAR ICONES ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!--=============== IMPORTAR CSS ===============-->
    <link rel="stylesheet" href="tela-cadastro.component.scss">
    <title>Document</title>
</head>
<body>
    <div class="background"> 
        <a href="/home"><i class="ri-home-2-fill home__icon"></i></a>
        <div class="content">
            <h1>Cadastro</h1>
        </div>
    </div>
</body>
</html>