<header class="header">
    <a href="#" class="logo"> <img src="assets/img/logo-tim-header.png"></a>
    <nav class="nav"> 
        <a href="/tela-inicial">Início</a>
        <a href="#burgers">X-Burguers</a>
        <a href="#frango">X-Frango</a>
        <a href="#hotdogs">Hotdogs</a>
        <a href="#bebidas">Bebidas</a>
    </nav>

    <div class="icons">
        <div class="ri-menu-line" id="menu-btn"></div>
        <div class="ri-search-line" id="search-btn" (click)="toggleSearchForm()"></div>
        <div class="ri-shopping-cart-line" id="cart-btn"></div>
        <a href="/login">
            <div class="ri-user-line" id="user-btn"></div>
        </a>
    </div>

    <!-- IMPLEMENTAR PESQUISA-->
    <form #searchForm action="" class="search-form">
        <input type="search" id="search-box" placeholder="Pesquise aqui..." class="box">
        <label for="search-box" class="ri-search-line" ></label>
    </form>

</header>

<script defer src="navbar.component.ts"></script>
