<header class="header">
    <img class="logo" src="assets/img/logo-tim-header.png">
    <nav class="nav"> 
        <a href="/home">Início</a>
        <a href="#burgers">Lanches</a>
        <a href="#bebidas">Bebidas</a>
    </nav>

    <div class="icons">
        <div class="ri-menu-line" id="menu-btn" (click)="toggleMenu()"></div>
        <div class="ri-search-line" id="search-btn" (click)="toggleSearchForm()"></div>
        <div class="ri-shopping-cart-line" id="cart-btn" (click)="onCartClick()"></div>
        <a href="/login">
            <div class="ri-user-line" id="user-btn"></div>
        </a>
    </div>

    <!-- IMPLEMENTAR PESQUISA-->
    <form #searchForm action="" class="search-form">
        <input type="search" id="search-box" placeholder="Pesquise aqui..." class="box">
        <label for="search-box" class="ri-search-line" ></label>
    </form>
</header>
