.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 7%;
  background: rgb(172, 60, 60);
  box-shadow: var(--box-shadow);
}

.logo {
  font-size: 0;
}

.nav {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
  color: black;

  a {
      font-size: 1.7rem;
      margin: 0 1rem;
      color: white;

      &:hover {
          color: var(--yellow-color);
          text-decoration: none;
      }
  }
}

.icons {
  display: flex;
  align-items: center;

  div {
      display: inline-block;
      height: 2.3rem;
      width: 2.3rem;
      line-height: 2.3rem;
      border-radius: 0.5rem;
      background: rgb(138, 44, 44);
      color: white;
      font-size: 1.5rem;
      margin-left: 0.7rem;
      text-align: center;
      cursor: pointer;

      &:hover {
          background: var(--yellow-color);
          color: rgb(133, 92, 32);
      }
  }
}

#menu-btn {
  display: none; /* Esconde o ícone do menu em telas grandes */
}

.search-form {
  position: absolute;
  top: 110%;
  right: -120%;
  width: 30rem;
  height: 2rem;
  background: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
  transition: right 0.3s linear;

  &.active {
      right: 1%; /* Mostra a barra de pesquisa quando ativa */
      transition: 0.3s linear;
  }

  input {
      height: 100%;
      width: 100%;
      background: none;
      text-transform: none;
      font-size: 1rem;
      color: var(--black-color);
      padding: 0 1rem;
  }

  label {
      font-size: 1.5rem;
      padding-right: 1rem;
      color: var(--black-color);
      cursor: pointer;

      &:hover {
          color: var(--yellow-color);
      }
  }
}

/* Responsividade */
@media (max-width: 768px) {
  .header {
      padding: 0 2rem;
  }

  .nav {
      display: none; /* Oculta o menu de navegação em telas menores */
      flex-direction: column;
      position: absolute;
      top: 100%; /* Exibe o menu abaixo do header */
      right: 0;
      background: rgb(172, 60, 60);
      width: 100%;
      transition: all 0.3s ease;
  }

  .nav.active {
      display: flex; 
  }

  #menu-btn {
      display: inline-block; 
  }

  .icons {
      display: flex;
      align-items: center;
  }
}
