<section>
    <div class ="background">
        <div class="form">
            <a href="/home"><i class="ri-home-2-fill home__icon"></i></a>
            <form action="" class="form__form" #loginForm="ngForm" (ngSubmit)="validarlogin(loginForm)">
                <h1 class="form__title">Seja bem-vindo(a)!</h1>
                <img class="form__logo" src="assets/img/logo-tim.png">
                <div class="form__content">
                    <div class="form__box">
                        <i class="ri-user-3-line form__icon"></i>
                        <div class="form__box-input">
                            <input type="email" required class="form__input" id="login-email" name="email" ngModel placeholder=" ">
                            <label for="login-email" class="form__label">Email</label>
                            <div *ngIf="loginForm.controls['email']?.invalid && loginForm.controls['email']?.touched" class="error-message">
                                <small>* Email inválido.</small>
                            </div>
                        </div>
                    </div>
    
                    <div class="form__box">
                        <i class="ri-lock-2-line form__icon"></i>
                        <div class="form__box-input">
                            <input type="password" required class="form__input" id="login-pass" name="password" ngModel placeholder=" ">
                            <label for="login-pass" class="form__label">Senha</label>
                            <i class="ri-eye-off-line form__eye" id="login-eye"></i>
                            <div *ngIf="loginForm.controls['password']?.invalid && loginForm.controls['password']?.touched" class="error-message">
                                <small>* A senha é obrigatória.</small>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="form__check">
                    <div class="form__check-group">
                        <input type="checkbox" class="form__check-input" id="login-check">
                        <label for="login-check" class="form__check-label">Mantenha-me conectado</label>
                    </div>
    
                    <a href="#" class="form__forgot">Esqueceu sua senha?</a>
                </div>
    
                <button type="submit" class="form__submit__button" [disabled]="loginForm.invalid">Login</button>
    
                <p class="form__register">
                    Não tem uma conta? <a href="/cadastro">Registre-se</a>
                </p>
            </form>
        </div>
    </div>
</section>

<!--=============== IMPORTAR ICONES ===============-->
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
